---
interface Props {
  classButton?: string;
  classSpan: string;
  title: string;
}
const { classButton, classSpan, title } = Astro.props;
---

<button
  class=`flex justify-center items-center p-[1px] text-sm h-auto ${classButton}`
>
  <span class=`${classSpan} w-full h-full rounded-md px-4 py-2 `>{title}</span>
</button>

<!-- estilos -->

<style>
  button {
    background-image: linear-gradient(97deg, #d10ed1 12.04%, #10a3da 81.84%);
    border-radius: 6px;
    font-family: 'Poppins', sans-serif;
  }
  span {
    transition: background-color 500ms;
  }
  span:hover {
    background-color: transparent;
    transition: background-color 500ms ease-in-out;
  }
  span:active {
    background-color: transparent;
    transition: background-color 500ms ease-in-out;
  }
</style>
