---
interface Props {
  classUl?: string;
  counter: string;
  title: string;
}
const { classUl, counter, title } = Astro.props;
---

<ul class=`${classUl}`>
  <li class='text-xl'>{counter}k+</li>
  <li class='title text-xs'>{title}</li>
</ul>

<style>
  .title {
    font-family: 'Poppins', sans-serif;
  }
</style>
