---
import Span from './Span.astro';
---

<footer class='flex justify-around items-start bg-[#090823] mt-32 p-10 w-full'>
  <div>
    <h2>
      <Span
        className='text-5xl font-bold'
        title='MetaV'
      />
    </h2>
    <p class='text-[rgba(255,_255,_255,_0.80)] text-base mt-5'>
      Adipiscing at in tellus integer. Pellentesque massa <br /> placerat duis ultricies
      lacus. Nisi porta lorem mollis <br /> aliquam ut porttitor
    </p>
  </div>
  <ul>
    <li class='mb-3'>About Us</li>
    <li class='subtitle'>About MetaV</li>
    <li class='subtitle'>Contact Us</li>
    <li class='subtitle'>FAQ</li>
    <li class='subtitle'>Privacy Policy</li>
    <li class='subtitle'>Terms of Service</li>
  </ul>
  <ul>
    <li class='mb-3'>Services</li>
    <li class='subtitle'>NFT Marketplace</li>
    <li class='subtitle'>Virtual Concert</li>
    <li class='subtitle'>Gaming</li>
    <li class='subtitle'>Artwork</li>
    <li class='subtitle'>Online Travel</li>
  </ul>
  <ul>
    <li class='mb-3'>Contact</li>
    <li class='flex gap-x-3'>
      <img
        src='public/LinkedIn.svg'
        alt=''
      />
      <img
        src='public/TwitterSquared.svg'
        alt=''
      />
      <img
        src='public/Instagram.svg'
        alt=''
      />
      <img
        src='public/Facebook.svg'
        alt=''
      />
    </li>
    <li class='mt-3 subtitle'>2022 © MetaV.com All right reserved.</li>
  </ul>
</footer>
