---
import Image_one from '../images/image.webp';
import Button from './Button.astro';
import CounterProgresive from './CounterProgresive.astro';
import Span from './Span.astro';
---

<section
  id='home'
  class='flex flex-col-reverse justify-center items-center md:flex-row md:justify-between w-full relative'
>
  <article
    class='flex flex-col items-center md:items-start justify-center gap-4 md:pl-[8.3rem] w-[90%] md:w-1/2 mt-10 md:mt-0 z-20'
  >
    <h1
      class='text-2xl md:text-4xl leading-10 text-balance text-center md:text-start'
    >
      Explore the future of the <Span
        className='text-3xl md:text-5xl font-bold'
        title='Metaverse'
      />
    </h1>
    <p
      class='text-sm md:text-xl font-normal text-pretty text-center md:text-start'
    >
      Let's explore and create your experience with metaverse.
    </p>
    <div class='flex gap-3 mt-3'>
      <Button
        title='Get Started'
        classSpan='bg-[#010101]'
      />
      <Button
        title='Explore Now'
        classSpan='bg-[#010101]'
      />
    </div>
    <div class='flex gap-x-10 mt-3'>
      <CounterProgresive
        classUl='absolute top-[113px] left-[66px] md:static'
        counter='29'
        title='Artworks'
      />
      <CounterProgresive
        classUl='absolute top-[24px] left-[10rem] md:static'
        counter='18'
        title='Artists'
      />
      <CounterProgresive
        classUl='absolute top-[80px] right-[1.75rem] md:static'
        counter='25'
        title='Auction'
      />
    </div>
  </article>
  <article class='md:relative w-[60%] md:w-1/2 mt-16'>
    <img
      class='object-cover aspect-auto'
      src={Image_one.src}
      alt='mujer con gafas de realidad virtual'
    />
    <img
      class='absolute top-[120px] hidden md:block'
      src='public/Vector.webp'
      alt='Tres estrellas'
    />
    <img
      class='absolute top-[147px] right-0 md:top-[246px] md:right-[149px]'
      src='public/Rectangle-69.svg'
      alt='sombra'
    />
  </article>
</section>
