---

---

<nav class='flex justify-between items-center mt-8 px-5 md:px-0 w-4/5'>
  <h2 class='text-[22px]'>MetaV</h2>
  <ul class='hidden md:flex md:items-center md:gap-[50px]'>
    <li><a href='#'>Home</a></li>
    <li><a href='#'>Resource</a></li>
    <li><a href='#'>Pricing</a></li>
    <li><a href='#'>About Us</a></li>
  </ul>
  <input
    class='hidden'
    type='checkbox'
    id='check-menu'
  />
  <label
    for='check-menu'
    class='z-50 w-10 h-10 flex flex-col justify-center items-center gap-[6px] md:hidden'
  >
    <span></span>
    <span></span>
    <span></span>
  </label>
</nav>
<style>
  a {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
  }
  span {
    width: 33px;
    height: 3px;
    background-color: #fff;
    border-radius: 3px;
  }
</style>
