---
import Group48 from '../images/Group48095505.svg';
import Button from '../components/Button.astro';
import Span from '../components/Span.astro';
---

<section
  id='Resource'
  class='flex flex-col md:flex-row justify-between z-50 w-[80%] mt-20 md:mt-0'
>
  <article class='w-full md:w-1/2'>
    <img
      src={Group48.src}
      alt='chicos experimentado las gafas de realidad virtual'
    />
  </article>
  <article
    class='flex flex-col justify-center items-start gap-4 w-full md:w-1/2 md:pl-20 mt-20 md:mt-0'
  >
    <h2 class='text-3xl'>
      What is <Span
        className='text-3xl'
        title='Metaverse'
      />
    </h2>
    <p class='text-sm md:text-lg text-pretty text-[rgba(255,_255,_255,_0.80)]'>
      Adipiscing at in tellus integer. Pellentesque massa placerat duis
      ultricies lacus. Nisi porta lorem mollis aliquam ut porttitor leo.
      Venenatis cras.
    </p>
    <Button
      classButton='mt-5'
      title='Know More'
      classSpan='bg-[#010101]'
    />
  </article>
</section>
