---
import '@fontsource-variable/orbitron';
import '@fontsource/poppins';
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='description'
      content='Astro description'
    />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>{title}</title>
  </head>
  <body>
    <div class='flex flex-col items-center w-full'>
      <slot />
    </div>
  </body>
</html>
<style is:global>
  html {
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    padding: 0;
    background-image: url(../images/Group-34.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #010101;
    font-family: 'Orbitron Variable', sans-serif;
    color: #fff;
  }
  p,
  .subtitle {
    font-family: 'Poppins', sans-serif;
    color: rgba(255, 255, 255, 0.8);
  }
</style>
